# Token de Cloudflare Zero Trust Tunnel
CLOUDFLARE_TUNNEL_TOKEN=

# Token de ngrok (opcional)
NGROK_AUTHTOKEN=

# Configuración Base de Datos Local
POSTGRES_USER=root
POSTGRES_PASSWORD=password
POSTGRES_DB=diabetes_db
JWT_SECRET=supersecretkey_diabetes
